.App {
  padding: 20px;
}

.search-icon {
  width: 100%;
  padding: 10px;
  border: 1px solid lightgrey;
}

.table-wrapper {
  width: 100%;
  margin: 20px 0px;
}

.table-header > tr > td {
  border-bottom: 1px solid lightgrey;
  padding: 10px;
  font-weight: bold;
}

.table-body > tr > td {
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}

.role {
  text-transform: capitalize;
}

.action {
  display: flex;
  gap: 10px;
}

.action button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.pagination-wrapper button {
  border: 1px solid skyblue;
  background-color: skyblue;
  border-radius: 100%;
  font-size: 16px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    border-color: lightgray;
    background-color: lightgray;
  }
}

.active {
  background-color: transparent !important;
  color: skyblue;
}

.bottom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.multiple-delete {
  background-color: rgb(255, 88, 88);
  width: 125px;
  height: 30px;
  border: none;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
